@import "tailwindcss";

@theme {
  --animate-border: border 4s linear infinite;

  @keyframes border {
    to {
      --border-angle: 360deg;
    }
  }
}

@property --border-angle {
  inherits: false;
  initial-value: 0deg;
  syntax: '<angle>';
}

@layer base {
  button:not(:disabled),
  [role="button"]:not([aria-disabled="true"]) {
    cursor: pointer;
  }
}
